<!DOCTYPE html>
<html>
<head>
  <title>Localjam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-6">
  		<h1>Localjam</h1>
  	</div>
  	<div class="col-md-6">
  		<ul class="nav navbar-nav">
        <li class="active"><a href="#">Lessons</a></li>
        <li class="active"><a href="#">About</a></li>
        <li class="active"><a href="#">Contact</a></li>
      </ul>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-12">
	  	<div class="jumbotron">
	  		<%= yield %>
	  	</div>
  	</div>
  </div>
</div>

</body>
</html>
